<p>auth-google works!</p>
<script src="https://accounts.google.com/gsi/client" async defer></script>
  <script>
    function handleCredentialResponse(response) {
    }
    window.onload = function () {
      google.accounts.id.initialize({
        client_id: "688079392079-bpsjl4kmg4vuqik4562slb4ni6o9netb.apps.googleusercontent.com",
        callback: handleCredentialResponse
      });
      google.accounts.id.renderButton(
        document.getElementById("buttonDiv"),
        { theme: "outline", size: "large" }  // customization attributes
      );
      google.accounts.id.prompt(); // also display the One Tap dialog
    }
</script>

<div id="buttonDiv"></div> 