<div class="ag-format-container">
  <div class="ag-courses_box">
    <ng-container>
      <div *ngFor="let course of data" class="ag-courses_item">
        <a  class="ag-courses-item_link" onclick="optionSelected(course.code)">
          <div class="ag-courses-item_bg"></div>

          <div class="ag-courses-item_title">
            {{ course.name }}
          </div>

          <div class="ag-courses-item_date-box">
            
            <span class="ag-courses-item_date">
              <!-- {{ course.startDate | date: 'dd.MM.yyyy' }} -->
              {{ course.description }}
              <p *ngIf="course.code">Codigo interno: <b>[{{course.code}}]</b></p>
            </span>
          </div>
        </a>
      </div>
    </ng-container>
  </div>
</div>