# See http://help.github.com/ignore-files/ for more about ignoring files.

jsonCreateIssueExample.json
/dist
dist
/apijira
/Client-jira-apiV2
/Client-jira-api
/node_modules
# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

Backend-jira-api\.venv
a
# Node
/node_modules
Client-jira-api\Client-Jira-API\node_modules
npm-debug.log
yarn-error.log
Client-jira-apiV2\node_modules
Client-jira-api/Client-Jira-API/node_modules/

# IDEs and editors s
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
git checkout main

# System files
.DS_Store
Thumbs.db

/src/environments
/.venv