
.example-container {
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.0);
  background-color: rgba(0, 0, 0, 0.0);
  position: absolute;
  top: 4rem;
  left: 0;
  z-index: 1;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

ul{
  /* display: flex;
  
  
  margin: auto; */
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  padding:0;
  flex: 1 auto 1;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
  margin: auto;
  justify-content:space-evenly;
  align-items: center;
}

.leftItems{
  margin: 0;
}

.centerItems{
  display: flex;
  flex: start;
  justify-content: flex-start;
  margin:auto;
  margin-left: 2rem;
  width: 100%;
}

.rightItems{
  margin: 0;
  display: flex;
  column-gap: 0.8rem;

}

mat-icon{
  color:white;
}

mat-toolbar{
  background-color: rgba(0,0,0,0);  
 
}


nav{
  background: var(--color-gradiente);
  background-color: linear-gradient(90deg, rgba(39, 157, 46, 1) 0%,rgba(38, 186, 195, 1) 88%)!important;
}

h5{
  font-family:ansangeLight ;
  color: white;
  font-size: medium;
}

li button {
  text-decoration: none;
  color: white;
  justify-content: center;
  font-family: ansangeRegular, Encode Sans, sans-serif;
 
}

.sidenav{
  font-family: ansangeRegular, Encode Sans, sans-serif;
  font-size: medium;
  text-decoration: none;  
  justify-content: center;
  font-family: ansangeRegular, Encode Sans, sans-serif;
  
}
/* 
button{
  color: white;
  background-color: red;
} */


.menu-logo { 
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-logo img {
  max-height: 100%;
  max-width: 150px;
  flex-shrink: 0;  
  filter: brightness(100000);
  margin: auto;
  padding: 0;

}

.menu-logo img:hover{
  filter:none;
  transform: scale(1.1);
  animation: fade-in 1s ease-in;
    
}


.imageUser {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-color: white;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageUser img {
  max-width: 40px;
  max-height: 40px;
  object-fit: cover;
}
#sesionClose{
  margin-top: 50vh;
}



@media only screen and (max-width: 768px){

  ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .centerItems{
   justify-content: flex-end;
   
   margin:auto;
  
  }

  .rightItems{
    display: none;
  }

}