<p>Estado de mis requerimientos e incidentes</p>


<mat-accordion>

    <ng-container *ngFor="let issue of issueData; let i = index">
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
            <mat-panel-title>
                {{issue.summary}}
            </mat-panel-title>
            <mat-panel-description>
                <p>Estado actual: {{issue.status}}</p>                
            
            </mat-panel-description>
            </mat-expansion-panel-header>      
            <p>Descripción:<br> <span [innerHTML]="mostrarConSaltosDeLinea(issue.description)"></span></p>  
            
            <p>Fecha de alta: {{convertirFormatoFecha(issue.created)}}</p>
            <p>Ultima actualización: {{convertirFormatoFecha(issue.last_updated)}}</p>
            <p>Responsable: {{issue.responsible}}</p>
            <p>Aprobado por: {{issue.approver}}</p>
            <p>Asignado a: {{issue.assignee}}</p>
            <ng-container *ngIf="this.management === 'Gerencias de Tecnología'"><a href="https://provinciamicroempresas.atlassian.net/browse/{{issue.key}}">Ver Incidente</a></ng-container>
        </mat-expansion-panel>
    </ng-container>

</mat-accordion> 