
.header{
    margin: auto;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
}
.header h1{  
  font-family: encodeSans-SemiBold;
  color:var(--color-terciario);
}

body{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 1rem;
    max-width: 80%;
}

.buttonDescription {
  /* Estilos específicos para .buttonDescription */
  background-color: inherit;
  border: inherit;
  box-sizing: inherit;
  box-shadow: none;
}


.buttonDescription mat-icon{
  color: var(--color-terciario);
}

.noData{
  text-align: center;
  margin-top: 3rem;
}

button{
  background-color:var(--color-secundario);
  color: white;
}
button:hover{
  background-color:var(--color-primario);
}
button:active{
  background-color:var(--color-azul);  
}
button:disabled {
  cursor: not-allowed; /* Cambiar el cursor a "no permitido" */
  background-color: var(--color-terciario);
  color: white !important;
  -webkit-text-fill-color: white !important;
}

.modal-header{
  text-align: center;
}
.modal-header h1{
  font-family: encodeSans-SemiBold !important;
  color: var(--color-terciario);
  text-align: center !important;
}

.spinner {
    width: 100vw;
    justify-content: center;
    margin: auto;
    z-index: 100;
    color: var(--color-secundario) !important;
    
  }

  .panel {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .searchIcon{
    font-size: medium  !important;
  }
  

  /* .placeholderText{
    display: flex;
    justify-items: center;
    align-items: center;
    column-gap: 10px;
    margin: 0;
  }

  .placeholderText mat-label{
    font-size: medium;
  } */
  /* Alinea horizontalmente el icono con el texto de búsqueda */


  .mat-paginator {
    width: auto;
  }



a{
    
    color: inherit;
    text-decoration: none;
}

.mat-elevation-z8{
    width: 100%;
}

table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 10px;
    width: 100%;
  }
  
  th{
    font-family: ansangeRegular;
    font-weight: 600;    
    color: var(-color-terciario);
  }

  /* td, th {
    width: auto;
  } */

tr{
    font-family: ansangeLigth;
    color: var(-color-terciario);
}
tr:hover {
background-color: #C9ECEE;
}

tr:active {
background: #C9E6CB;
}
  
/* .mat-column-id{
    max-width: 15px; 
    padding: 5px;   
    margin-left: 20px;
}

.mat-column-status{
    max-width: 20px;
}
.mat-column-summary{
    width: 40%;
} */


/* .mat-column-key, .mat-column-key a {
    text-align: center;
} */

.mat-column-key a:hover {
    transform: scale(1.05);
    color: var(--color-primario);
}
.mat-column-key a:active{
    color: var(--color-secundario);
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: var(--color-primario) !important;
}

/* .custom-slide-toggle {
    --mat-slide-toggle-thumb-color: #d81414; 
    --mat-slide-toggle-track-color: #22ac00;
  }
   */
@media only screen and (max-width: 1023px) {

    .panel{
        flex-direction: column;
    }

    .filter{
        width: 100% !important;
    }
}
