*{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  height: calc(100vh - 120px);
  /* max-height: calc(100vh - 120px); */
}

.spinner {
  width: 100vw;
  justify-content: center;
  margin: auto;
  position: relative;
  top: 40vh;
  left: 0;
  z-index: 100;
}

::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #26BAC3 !important;
}

.page-title {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  font-size: 100%;
  vertical-align: middle;

}

.page-title h1 {
  font-family: "Encode Sans", sans-serif;
  margin-left: 2rem;
  align-items: center;
  margin: auto 1rem;
  color: #3C3C3B !important;
}

.page-title mat-icon {
  margin: auto 0;
  color: #3C3C3B !important;
}

.global-section {
  /* background-color: rgba(255, 255, 255, 90%); */
  display:flex;
  justify-content:flex-start;
  width: 90%;
  margin: 0;
  padding: 0;
  column-gap: 4rem;
  margin-top: 1rem;
  max-height: 70dvh;

}

.section-two{
  display: flex;
  flex-direction: column;
  
  padding: 0;
  margin: 0;
  width: 100%;
  vertical-align: bottom;
  /* background-color: #279d2e; */

}

.section-one{
  display: flex;
  flex-direction: column;  
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 100%;
  vertical-align: bottom;
  

}

/* 
.section-one mat-form-field {
  
  background-color: red;
} */

/* .section-two{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    vertical-align: bottom;
    background-color: violet;
  } */


/* .section-two mat-form-field {
  background-color: red;

} */



.full-width {
  width: 100%;
  font-size: 13px;
}

.margin-top {
  margin-top: 0.8rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;  
  margin: auto;
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  
  
}

.dates{
  display: flex;  
  max-width: 100%;
  flex-wrap: nowrap;
  column-gap:2%;
  
}

mat-form-field{
  background-color: #fff;
}

.dates mat-form-field{
 max-width: 80%;
 
}
.footerButton{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  width: 90%;  
  margin: 0;
  margin-top: 1rem;
  padding: 0;
  
}
button {
  max-width: 150px;
}
/* 
.mat-raised-button.mat-button-disabled:not([class*=mat-elevation-z]) {
  background-color: #ffffffef;
} */

::ng-deep .mat-focused .mat-form-field-label {
  color: #3c3c3b !important;
}

::ng-deep .mat-form-field-label {
  color: #3c3c3b !important;
}

::ng-deep.mat-focused .mat-form-field-ripple {
  background-color: #279d2e !important;
}

::ng-deep.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: #279d2e !important;
}

@media (max-width: 991px) {
  .page-title h1 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
  }

  .page-title mat-icon {
    display: none;
  }

  .global-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
  }

  button {
    margin-top: 0.2rem;
    max-width: 100px;
  }
}
