<div class="body">
  <div class="issueForm">
    <mat-spinner *ngIf="loading" class="spinner" diameter="80"></mat-spinner>

    <app-issue-created
      *ngIf="!formError && receivedData && !loading"
      [childMessage]="dataEntry"
    >
    </app-issue-created>

   

    <form
      *ngIf="(!loading || formError) && !receivedData"
      [formGroup]="requestForm"
    >
      <div class="page-title">
        <!-- <mat-icon aria-hidden="false" fontIcon="create_new_folder"></mat-icon> -->
        <h1>Crear requerimiento</h1>
      </div>

      <section class="global-section">
        
        
        <section class="section-one">
          <mat-form-field class="full-width margin-top" appearance="fill">
            <mat-label>Título</mat-label>
            <input
              matInput
              autocomplete="off"
              required
              formControlName="title"
              matTooltip="Ingrese un título breve"
            />
            <mat-error *ngIf="requestForm.get('title').errors?.required">Este campo es obligatorio.
            </mat-error>
          </mat-form-field>

          <!-- <mat-form-field class="full-width margin-top" appearance="fill">
            <mat-label>Proyecto</mat-label>
            <mat-select
              [(value)]="this.dataJsonNewIssue.key"
              formControlName="project"
            >
              <mat-option
                *ngFor="let project of projectsList"
                value="{{ project.key }}"
                >{{ project.name }}</mat-option
              >
            </mat-select>
            <mat-error *ngIf="requestForm.get('project').errors?.required">Seleccione una opción.
            </mat-error>
          </mat-form-field> -->

          <!-- Tipo de Requerimiento -->
          <mat-form-field class="full-width margin-top" appearance="fill">
            <mat-label>Tipo del requerimiento</mat-label>
            <mat-select [(value)]="requestForm.value.issueType" formControlName="issueType"  (selectionChange)="onPriorityChange()">
              <mat-option *ngFor="let option of optionsIssue" [value]="option.value">
                {{option.label}} - [{{option.value}}]
              </mat-option>
            </mat-select>
            <mat-error *ngIf="requestForm.get('issueType').errors?.required">Seleccione una opción.
            </mat-error>
          </mat-form-field>


          <!-- subTipo de requerimiento REQ Ó INC -->
          <div *ngIf="requestForm.get('issueType').value == 'REQ' || requestForm.get('issueType').value == 'INC'">
              <mat-form-field class="full-width margin-top" appearance="fill">
                <mat-label>Subtipo del requerimiento</mat-label>
                <mat-select [(value)]="requestForm.value.subIssueType" formControlName="subIssueType"  (selectionChange)="onPriorityChange()">
                  <mat-option  *ngFor="let option of subOptionsIssueREQ" [value]="option.value">
                    {{option.label}} - [{{option.value}}]
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="requestForm.get('subIssueType').errors?.required">Seleccione una opción.
                </mat-error>
              </mat-form-field>         
          </div>
          
          <!-- subTipo de requerimiento INF -->
          <div *ngIf="requestForm.get('issueType').value == 'INF'">
            <mat-form-field class="full-width margin-top" appearance="fill">
              <mat-label>Subtipo del requerimiento</mat-label>
              <mat-select [(value)]="requestForm.value.subIssueType" formControlName="subIssueType"  (selectionChange)="onPriorityChange()">
                <mat-option *ngFor="let option of subOptionsIssueINF" [value]="option.value">
                  {{option.label}} - [{{option.value}}]
                </mat-option>
              </mat-select>
              <mat-error *ngIf="requestForm.get('subIssueType').errors?.required">Seleccione una opción.
              </mat-error>
            </mat-form-field>         
          </div>

          <!-- subTipo de requerimiento FIX -->      
          <mat-form-field *ngIf="requestForm.get('issueType').value == '' || requestForm.get('issueType').value == 'FIX'" class="full-width margin-top" appearance="fill">
            <mat-label *ngIf="requestForm.get('issueType').value ==''">Seleccione Primero el tipo de Requerimiento</mat-label>
            <mat-label *ngIf="requestForm.get('issueType').value =='FIX'">Ingrese el numero ID del requerimiento asociado (Ej:REQ-123)</mat-label>
            <input matInput autocomplete="off"  formControlName="subIssueType"/>
            <mat-error *ngIf="requestForm.get('subIssueType').errors?.required">Este campo es obligatorio.
            </mat-error> 
          </mat-form-field>

          <!-- Prioridad definida por el usuario -->
          <mat-form-field class="full-width margin-top" appearance="fill">
            <mat-label>Prioridad</mat-label>
            <mat-select [(value)]="this.dataJsonNewIssue.priority" formControlName="priority" (change)="onPriorityChange()">
              <mat-option *ngFor="let option of optionsPriority" [value]="option.value">
                {{ option.label }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="requestForm.get('priority').errors?.required">Seleccione una opción.
            </mat-error>
          </mat-form-field>

           <!-- Gerente que aprueba el requerimiento -->
          <mat-form-field class="full-width margin-top" appearance="fill">
            <mat-label>Aprobado por</mat-label>
            <mat-select [(value)]="requestForm.value.approvers" formControlName="approvers"  (selectionChange)="onPriorityChange()">
              <mat-option *ngFor="let manager of managersOptions" [value]="manager.value">
                {{manager.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="requestForm.get('approvers').errors?.required">Seleccione una opción.
            </mat-error>
          </mat-form-field>
         
        </section>

        <section class="section-two">

          <!-- Enlace a documentación -->
          <mat-form-field class="full-width margin-top" appearance="fill">
            <mat-label>Enlace del Adjunto</mat-label>
            <input matInput autocomplete="off"  formControlName="attached"/>
          </mat-form-field>
          
          <!-- Rol -->
          <mat-form-field class="full-width margin-top" appearance="fill">
            <mat-label>Como (Rol de usuario de la funcionalidad)</mat-label>
            <textarea matInput autocomplete="off" required formControlName="managment"></textarea>
            <mat-error *ngIf="requestForm.get('managment').errors?.required">Este campo es obligatorio.
            </mat-error>
          </mat-form-field>

          <!-- Funcionalidad -->
          <mat-form-field class="full-width margin-top" appearance="fill">
            <mat-label>Quiero (Una funcionalidad)</mat-label>
            <textarea
              matInput
              autocomplete="off"
              required
              formControlName="description"
            ></textarea>
            <mat-error *ngIf="requestForm.get('description').errors?.required">Este campo es obligatorio.
            </mat-error>
          </mat-form-field>

          <!-- Beneficio -->
          <mat-form-field class="full-width margin-top" appearance="fill">
            <mat-label>Para (Beneficio)</mat-label>
            <textarea
              matInput
              autocomplete="off"
              required
              formControlName="impact"
            ></textarea>
            <mat-error *ngIf="requestForm.get('impact').errors?.required">Este campo es obligatorio.
            </mat-error>
          </mat-form-field>
          
          <!-- Iniciativas -->
          <!-- <mat-form-field class="full-width margin-top" appearance="fill">
            <mat-label>Iniciativas</mat-label>
            <mat-select
              [(value)]="this.dataJsonNewIssue.initiative"
              formControlName="initiative"
            >
                <mat-option
                  *ngFor="let key of getObjectKeys(initiativesList)"
                  value="{{ key }}: {{ initiativesList[key].name }}"
                  >{{ initiativesList[key].name }}
                </mat-option>
            </mat-select>
            
          </mat-form-field> -->
            

          <!-- implementación -->
          <div *ngIf="requestForm.get('priority').value !== 'Normativa'">
            <mat-form-field class="full-width margin-top" appearance="fill">
              <mat-label>Fecha estimada de implementación (Necesidad de negocio)</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="finalDate"/>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
       
          <!-- Normativa -->
          <div *ngIf="requestForm.get('priority').value === 'Normativa'">
            <mat-form-field class="full-width margin-top" appearance="fill">
                <mat-label>Fecha de implementación por normativa</mat-label>
                <input matInput [matDatepicker]="picker1" formControlName="normativeDate"/>
                <mat-hint>Cargar solo para requerimiento normativos</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
          </div>
          <!-- Fecha de implemantación y normativa -->
          <!-- <div class="dates">
        </div> -->

         
        
      </section>

        

     </section> 

      <div class="footerButton">
        <!-- <button
          type="submit"
          mat-raised-button
          class="full-width"
          color="primary"
          [disabled]="(!requestForm.valid && !clicked) || (clicked && !formError)"
          (click)="sendForm(); clicked = true;">
          Enviar
        </button> -->
      </div>
      
    </form>
    <footer *ngIf="(!loading || formError) && !receivedData">
      <button
          type="submit"
          mat-raised-button
          class="full-width"
          color="primary"
          [disabled]="(!requestForm.valid && !clicked) || (clicked && !formError)"
          (click)="sendForm(); clicked = true;">
          Enviar
      </button>
    </footer>
    
    
  </div>
</div>
