*{
  margin: 0;
  padding: 0;
}

body{
  height: 80%;
  max-height: calc(100vh - 220px);
  background-color: #279d2e;
}

.spinner {
  width: 100vw;
  justify-content: center;
  margin: auto;
  position: relative;
  top: 40vh;
  left: 0;
  z-index: 1000;
}


.inputFile{
  display: none;
}

::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #26BAC3 !important;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: space-evenly;
  margin: auto;
  width: 100%;
  height: 100%;
  margin: auto;  
}

.page-title {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 100%;
  
  height: 40px;
  margin:auto;
  padding: 0;
  margin:2rem 0;
}

.page-title h1 {
  
  font-family: encodeSans-SemiBold;
  color:var(--color-terciario);
  align-items: center;
  color: #3C3C3B !important; 
  margin: 0;
}
.page-title p{
  font-size: small;
  text-align: center;
  
}

.page-title mat-icon {
  margin: auto 0;
  color: #3C3C3B !important;
  background-color: #279d2e;
}




.global-section {
 
  display:flex;
  justify-content:space-evenly;
  width: 80vw;
  margin: 0;
  padding: 0;
  height: 70%;
  column-gap: 4rem;

}

.section-one{
  display: flex;
  flex-direction: column;  
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 40vw;

}
.section-two{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding:0;
  margin: 0;
  width: 40vw;

}
.dates{
  display: inline-flex;  
  max-width: 100%;
  flex-wrap: nowrap;
  column-gap:2%;
  overflow: hidden;  
}
.dates mat-form-field{
  max-width: 50%;
  
 }

 .footerButton{
  width: max-content;
  display: flex;
  justify-content: flex-end;  
  
  width: 80vw;
  margin: 0;
  padding: 0;
  
}

footer{
  width: 80vw;
  display: flex;
  justify-content: center;
  margin: auto;
  align-content: flex-end;
  position: relative;
}
button {
  position: absolute;
  right: 0;
  max-width: 150px;
  

}





.full-width {
  width: 100%;
  font-size: 13px;
}

.margin-top {
  margin-top: 0.0rem;
}





mat-form-field{
  background-color: #fff;
}

.mat-mdc-radio-button ~ .mat-mdc-radio-button {
  margin-left: 46px;
  display:flex;
  background-color: #26BAC3;
}

.radioButton {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0,0,0,.04);
  border-top: 0.84375em solid rgba(0,0,0,0);
  border-radius: 4px 4px 0 0;
  /* padding: 0.75em 0.5em 0 0.75em; */
  padding: 0.25em 0.5em 0.75em 0.75em;
  
  color: rgb(118, 118, 118);
  margin-bottom: 1.34375em;
}


.radioButton mat-label{
  padding: 0.25em 0 0.75em 0; 
  
  
  max-width: 100%;
  color: currentColor;
  color: currentColor;
}
.radioButton mat-radio-button{
  min-width: 80px;
  margin: 5px;

}

.radioButton mat-radio-group{
  
  justify-content: center;
}





/* 
.mat-raised-button.mat-button-disabled:not([class*=mat-elevation-z]) {
  background-color: #ffffffef;
} */


::ng-deep .mat-focused .mat-form-field-label {
  color: #3c3c3b !important;
}

::ng-deep .mat-form-field-label {
  color: #3c3c3b !important;
}

::ng-deep.mat-focused .mat-form-field-ripple {
  background-color: var(--color-primario) !important;
}

::ng-deep.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: var(--color-primario) !important;
}


@media only screen and (max-width: 1067px) { 
  
  footer{
    margin-top: 50px;
  }
  .radioButton mat-radio-button{
    margin: 5px;
  }
}

@media screen and (max-width: 767px)  {
  .page-title h1 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
  }

  .page-title mat-icon {
    display: none;
  }

  .global-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    max-width: unset;
    width: 80%;
  }

  .section-one, .section-two{
    max-width: unset;
    width: 80%;
  }
  footer{ 
    position: unset;   
    display: flex;
    justify-content: center;
    margin: auto;
    align-content: center;
    width: 40%;
    
  }
  button {
    position: unset;    
    max-width: unset;
  }

  
.radioButton mat-label{
  padding: 0.25em 0 0.75em 0;
  white-space:normal; 
  color: currentColor;
}

/* .radioButton mat-radio-group{
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
} */

.radioButton mat-radio-button{
  margin: 5px;
}
}