<div class="issue">
  <mat-card class="example-card">
    <div class="card-message">
      <img
        mat-card-image
        src="../../../assets/backgroundCard2@4x.png"
        alt="Requerimiento creado con exito"
      />
      <div class="card-text">
        <h1>¡Su requerimiento fue creado con éxito!</h1>
        <h3>
          Puede seguir el enlace para ver su estado. <br />
          Muchas gracias.
        </h3>
      </div>
    </div>

    <mat-card-actions>
      <a href="{{ this.childMessage[1] }}" target="_blank"
        ><button mat-button>SEGUIR REQUERIMIENTO</button></a
      >
      <button mat-button (click)="reloadPage()">
        CREAR NUEVO REQUERIMIENTO
      </button>
    </mat-card-actions>
  </mat-card>
</div>
