
<body *ngIf="!loading">
    <div class="triangles-top-box">
        <img class="triangles-top animate__animated animate__fadeInLeft" src="../../../assets/triangulosback@4x.png" alt="Elemento gráfico">
    </div>
    <div class="login-div">
      
        <article class="login-title">
          <img class="login-img-" src="../../../assets/loginGDR.png" alt="">
        </article>
         <button mat-button (click)="getSession()" style="background-color: var(--color-primario); color: #fff;">Entrar</button>
      
    </div>
    <div class="triangles-bottom-box">
        <img class="triangles-bottom animate__animated animate__fadeInRight" src="../../../assets/triangulosback@4x.png" alt="Elemento gráfico">
    </div>

  </body>

<div id="spinner" *ngIf="loading">
  <span class="loader" *ngIf="loading"><img src="../../assets/logoColorP.png" alt="" width="80px"></span>
</div>