
<div *ngIf="loading" class="spinner">
    <div>
    <p>Cargando...</p>
    <!-- <span class="loader"></span> -->
    <app-spinner></app-spinner>
    </div>

</div>


<body>
    <div class="triangles-top-box">
        <img class="triangles-top animate__animated animate__fadeInLeft" src="../../../assets/triangulosback@4x.png" alt="Elemento gráfico">
    </div>
    <div class="login-div">
      
        <div class="login-title">
          <img class="login-img-" src="../../../assets/loginGDR.png" alt="">
             
           <!-- <div class="login-title-prome">
                <h1 class="login-title-provincia">Provincia</h1>
                <h1 class="login-title-microcreditos">Microcréditos</h1>
            </div> -->
        </div>
         <button id="buttonDiv">Login</button>
    </div>
    <div class="triangles-bottom-box">
        <img class="triangles-bottom animate__animated animate__fadeInRight" src="../../../assets/triangulosback@4x.png" alt="Elemento gráfico">
    </div>
  </body>