
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#buttonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #fff;
    border-style: none;
}


h1 {
    margin: 0;
}

.triangles-top-box {
    height: 100vh;
    display: flex;
    align-items: flex-end;
    
}

.triangles-top {
    width: 25vw;
    min-width: 250px;
    transform: translateX(0%);
    animation: slide-in-bottom 3s forwards;
  
}

.triangles-bottom-box {
    height: 100vh;
    display: flex-start;
}

.triangles-bottom {
    width: 25vw;
    min-width: 250px;
    transform: translateX(-100%);
    animation: slide-in-top 3s forwards;
}

.login-img- {
    margin: auto;
    width: auto;
    height: 100%;
    }
  
@keyframes gradientAnimation {
0% {
    background-position: 200% 0;
}
100% {
    background-position: -200% 0;
}
}

@keyframes slide-in-top {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

@keyframes slide-in-bottom {
0% {
    transform: translateX(-100%);
}
100% {
    transform: translateX(0%);
}
}


.login-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;   
    height: 30vh;
    align-content: space-between;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;   
    height: 10px;
    background: linear-gradient(to right, #fff, #279d2e);  /* #007bff al color deseado */
    background-size: 200% 100%; /* Controla la dirección de la animación (izquierda a derecha) */
    animation: gradientAnimation 8s linear infinite; /* Ajusta la duración de la animación según tus necesidades */
 

  }
  

  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  

.login-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 2rem;
    margin: auto;
}



.login-title-prome {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-content: space-evenly; */
    margin: auto;
    align-items: flex-start;
    margin-left: 1.2rem;
    vertical-align: middle;
    height: 100%;
    width: auto;
}

.login-title-provincia {
    font-weight: 650;
    font-size: 3rem;
    margin-top: 1rem;
}

.login-title-microcreditos {
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 3rem;
}

.login-btn {
    justify-content: center;
    align-items: center;
}

@media (max-width: 5000px) {

    .login-img {
        height: 8rem;
        
    }
    .login-img- {
        width: 400px;
    }
}

@media (max-width: 720px) {
    #buttonDiv{
        margin-top: 2rem;
    }
    
    .logos{
        width: 60vw;
        padding: 1rem;
    }

    .triangles-top-box {
        height: 100vh;
        display: flex;
    }

    .triangles-top {
        min-width: 250px;
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
    }

    .triangles-bottom {
        min-width: 250px;
        position: absolute;
        bottom: 0.5rem;
        left: 0.5rem;
    }

    .login-img {
        height: 6rem;
    }
    .login-img- {
       
        width: 50vw;
    }

    .login-title-provincia {
        font-size: 2.5rem;
    }

    .login-title-microcreditos {
        font-size: 2.5rem;
    }
}

@media (max-width: 380px) {
    
    .login-img {
        height: 4rem;
    }

    .login-title-provincia {
        font-size: 1.25rem;
    }

    .login-title-microcreditos {
        font-size: 1.25rem;
    }
}

@media (device-height : 568px) and (device-width : 320px) and (-webkit-min-device-pixel-ratio: 2) {

    .triangles-top {
        min-width: 180px;
    }

    .triangles-bottom {
        min-width: 180px;
    }

    .login-img {
        height: 4rem;
    }

    .login-img-{
        width: 50vw;
    }
}


#spinner{
    display: flex;
    justify-content: center;
    margin: 5rem auto;  
    width: 100%;   
}

.loader {
    width: 80px;
    height: 80px;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    /* animation: flipX 3s linear infinite; */
    animation: flipX 3s ease-in-out infinite;
    margin: auto 2rem;
    }
    
    
    @keyframes flipX {
    0% {
        transform: perspective(200px) scale(1) rotateY(0deg);
    }
    
    50% {
        transform: perspective(300px) scale(1.2) rotateY(180) ;
    }
    
    100% {
        transform: perspective(200px) scale(1) rotateY(360deg);
    }
    }