
<body>
    <div class="triangles-top-box">
        <img class="triangles-top animate__animated animate__fadeInLeft" src="../../../assets/triangulosback@4x.png" alt="Elemento gráfico">
    </div>
    <div class="login-div">
      
        <article class="login-title">
          <img class="login-img-" src="../../../assets/loginGDR.png" alt="">
        </article>
         <button id="buttonDiv">Login</button>
      
    </div>
    <div class="triangles-bottom-box">
        <img class="triangles-bottom animate__animated animate__fadeInRight" src="../../../assets/triangulosback@4x.png" alt="Elemento gráfico">
    </div>

  </body>