.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 1rem;
    font-family: ansangeLight;
    width: 30%;
    text-align: left;
    background-color: #ebebebb5;   
    border-radius: 0 6px 0 0;
    
}

.info h2 {
    margin-top: 0.5rem;
    
}


.info img {
    margin-top: 0;    
    width:100%;
   
}
.imgFooter{
    margin:0;
    display: flex;
    justify-content: center;
    width:100%;
}