.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    font-family: ansangeLight;
    width: 40%;
    background-color: #ebebebb5;   
    border-radius: 6px 6px 0 0;
    
}

.info h2 {
    margin-top: 1rem;
    
}


.info img {
    margin-top: 1rem;
    background-color: rgba(21, 18, 18, 0.696);
    width:100%;
    padding: 1rem;
}
.imgFooter{
   
    display: flex;
    justify-content: center;
    width:100%;
}