*{
    display: block;
    margin: 0;
    padding: 0;        
}
header{
    padding-top:1rem;
    text-align: center;    
}
header h1{
    margin: 0;    
    font-family: encodeSans-SemiBold;
    color:var(--color-terciario);
}

body{
    display: flex;
    flex:wrap;
    column-gap: auto;
    flex: strech;
    justify-content: center;
    margin: 0;
    padding: 0;
    max-height: 500px;
}
.cards{
    display: flex;
    flex-direction: row;
    padding: 2rem;
    max-height: 500px;

}
app-img-card{
    max-width: 250px;
    max-height: 400px;
    margin: 1rem;
    
}
app-img-card:hover{
    cursor: pointer;
}

footer{
    width: 100%;
}
footer img{
    width: 50%;
    margin: 1rem;
}

@media (max-width: 1023px) {
   
    body{
        height: auto;
        max-height: inherit;
    }
    
    .cards{
        max-height: inherit;
        flex-direction: column;
        row-gap: 1rem;
        margin: 3rem;
    }

    app-img-card{
        max-width: inherit;
        width: 600px;
        margin: auto;
    }

    footer{
        position: fixed;
        bottom: 0;
        background-color: #fff;
    }



}

@media (max-width: 769px){
    app-img-card{
        width: 80%;
    }
}