<div class="info"><h2>Información de la versión</h2>
    <p><strong>Nombre de la aplicación: </strong> {{ versionData.name }}</p>
    <p><strong>Versión:</strong> {{ versionData.version }}</p>
    <p><strong>Autor:</strong> {{ versionData.author }}</p>
    <p><strong>Gerencia:</strong> {{ versionData.gerencia }}</p>
    <p><strong>Contacto:</strong> {{ versionData.contactEmail }}</p>
    <p><strong>Público objetivo:</strong> {{ versionData.targetAudience }}</p>
    <div class = imgFooter>
        <img src="../../../assets/gdrweb.png" alt="">
    </div>
    
</div>

