<header>
  <h1>NUEVO REQUERIMIENTO</h1>
</header>
<body>

  <mat-spinner *ngIf="loading" class="spinner" diameter="80"></mat-spinner>

  <app-issue-card *ngIf="!loading && !receivedData" [input]="dataServices" [sharedState]="sharedState"></app-issue-card>
  
  <article *ngIf="!loading  && !receivedData" class="formulario">
    
      <mat-stepper  [orientation]="(stepperOrientation | async)!" #stepper  [formGroup]="myForm">


        <ng-container *ngFor="let group of serviceGroups; let k = index;">
          <p>hola {{serviceGroups[k]}} |||</p>        
              <mat-step>
                <ng-template matStepLabel class="stepHeader">Paso {{k+1}}</ng-template>
              <ng-container *ngFor="let key of serviceGroups[k]; let i = index;" >

                <!-- <ng-container><mat-step *ngIf="i % 4 === 0 || i == 0">{{i}}</mat-step></ng-container>
                  -->
                                                     

                    <ng-container *ngIf="dataServices[key].type == 'select' && dataServices[key].condition === true">
                        <ng-template matStepLabel>{{ dataServices[key].label }} {{ dataServices[key].name }}</ng-template>
                        <app-material-select [input]="dataServices[key]" [sharedState]="sharedState" [requestForm]="myForm"></app-material-select>
                    </ng-container>

                    <ng-container *ngIf="dataServices[key].type == 'input'">         
                      <ng-template matStepLabel>{{dataServices[key].label}} {{dataServices[key].name}}</ng-template>  
                      <app-material-input [input] = "dataServices[key]" [sharedState]="sharedState" [requestForm]="myForm"></app-material-input>     
                    </ng-container>

                    <ng-container *ngIf="dataServices[key].type == 'textarea'">         
                      <ng-template matStepLabel>{{dataServices[key].label}} {{dataServices[key].name}}</ng-template>  
                      <app-material-textarea [input] = "dataServices[key]" [sharedState]="sharedState" [requestForm]="myForm"></app-material-textarea>     
                    </ng-container>

                    <ng-container *ngIf="dataServices[key].type == 'datepicker'" >         
                      <ng-template matStepLabel>{{dataServices[key].label}} {{dataServices[key].name}}</ng-template>  
                      <app-material-datepicker [input] = "dataServices[key]" [sharedState]="sharedState" [requestForm]="myForm"></app-material-datepicker>     
                    </ng-container>

                    <ng-container *ngIf="dataServices[key].type == 'radio'">         
                      <ng-template matStepLabel>{{dataServices[key].label}} {{dataServices[key].name}}</ng-template>  
                      <app-material-radio [input] = "dataServices[key]" [sharedState]="sharedState" [requestForm]="myForm"></app-material-radio>     
                    </ng-container>
                    

                    <ng-container *ngIf="dataServices[key].type == 'file'">         
                      <ng-template matStepLabel>{{dataServices[key].label}} {{dataServices[key].name}}</ng-template>  
                      <app-material-file [input] = "dataServices[key]" [sharedState]="sharedState"  [requestForm]="myForm"></app-material-file>     
                    </ng-container>
                    
                    
                    

              </ng-container>
              <div class="stepButtons">
                <button mat-button matStepperPrevious type="button" *ngIf="k>0 && k < serviceGroups.length-1">Volver</button>
                <button mat-button matStepperNext  type="button"  *ngIf="k < serviceGroups.length -1">Continuar</button>  
                <button mat-button (click)="stepper.reset()" *ngIf="k === serviceGroups.length-1">Reiniciar</button>
                <button mat-button 
                    (click)="sendForm(); clicked = true;" 
                    *ngIf="k === serviceGroups.length-1" 
                    [disabled]="(!myForm.valid && !clicked) || (clicked && !formError)">
                    Enviar
                </button>
              </div>
              <!-- [disabled]="(!myForm.valid && !clicked) || (clicked && !formError)" -->
              </mat-step>

          </ng-container>
          
   
      </mat-stepper>
  </article>

  
  <app-issue-created
      *ngIf="!formError && receivedData && !loading"
      [childMessage]="dataEntry"
    >
    </app-issue-created>

</body>