@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");



* {
  font-family: "Encode Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: ansangeLight;
  src: url('./assets/font/ttf/Ansage-Light.ttf');
  
}
@font-face {
  font-family: ansangeRegular;
  src: url('./assets/font/ttf/Ansage-Regular.ttf');
}


@font-face {
  font-family: ansangeLight;
  src: url('./assets/font/ttf/Ansage-Light.ttf');
  
}
@font-face {
  font-family: ansangeRegular;
  src: url('./assets/font/ttf/Ansage-Regular.ttf');
}

@font-face{
  font-family: encodeSans-Regular;
  src:url('./assets/font/ttf/EncodeSans-Regular.ttf');
}
@font-face{
  font-family: encodeSans-SemiBold;
  src:url('./assets/font/ttf/EncodeSans-SemiBold.ttf');
}

:root {
  --color-gradiente: linear-gradient(90deg, rgba(39, 157, 46, 1) 0%,rgba(38, 186, 195, 1) 88%); /* Aquí asignamos un color azul como valor */
  --color-primario: #279d2e;
  --color-primario-claro:#93ce96;
  --color-secundario: #25B4BD;
  --color-terciario: #3c3c3b;
  --color-rojo: #aa1840;
  --color-amarillo: #c6a100;
  --color-azul: #0560ab;
  --color-violeta: #59358b;
  --color-lima: #afca0f;
  --color-blanco: white;
  --color-negro: black;
}





html,

body {
  margin: 0;
  /* font-family: ansage, "Helvetica Neue", sans-serif; */
}

button.mat-raised-button:hover {
  background-color: #26bac3;
}

button.mat-raised-button,.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color:var(--color-primario);
 
}
.mat-radio-outer-circle,.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: var(--color-primario);
}

button.mat-raised-button::before {
  background-color: var(--color-terciario);
}

.mat-step-header .mat-step-icon-selected{
  background-color:var(--color-secundario);

}
.mat-step-header .mat-step-icon-state-edit{
  background-color:var(--color-primario);

}




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


