@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Encode Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: ansangeLight;
  src: url(../src/assets/font/ansage/Ansage-Light.otf) format("opentype");
}

@font-face {
  font-family: ansangeRegular;
  src: url(../src/assets/font/ansage/Ansage-Regular.otf) format("opentype");
}

html,

body {
  margin: 0;
  /* font-family: ansage, "Helvetica Neue", sans-serif; */
}

button.mat-raised-button:hover {
  background-color: #26bac3;
}

button.mat-raised-button,.mat-radio-button.mat-accent .mat-radio-inner-circle{
  background-color: #279d2e;
 
}
.mat-radio-outer-circle,.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #279d2e;
}

button.mat-raised-button::before {
  background-color: #3c3c3b;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
